em{
  font-size:10px;
}
.channel{
  border: 5px dashed grey;
  background-color:rgb(220,220,220);
  padding:5px;
  margin:10px;
}
.vid{
  padding:5px;
  border:5px solid blue;
  margin:10px;
}
#login{
  background-color:orange;
  position:absolute;
  textAlign:right;
  border:5px ridge black;
}
