em{
  font-size:20px;
}
.channel{
  border: 5px dashed grey;
  background-color:rgb(220,220,220);
  padding:5px
}
.vid{
  padding:5px;
  border:5px solid blue;
}
#login{
  background-color:orange;
  position:absolute;
  textAlign:right;
  width:100%;
}
