em{
  font-size:20px;
}
.channel{
  border: 5px dashed grey;
  background-color:rgb(220,220,220);
  padding:5px
}
.vid{
  padding:5px;
  border:5px solid blue;
}
#login{
  background-color:orange;
  position:absolute;
  textAlign:right;
  width:100%;
}
.linkButton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
